language: python
sudo: true
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"
# command to install dependencies
install:
  - pip install --upgrade setuptools
  - pip install pytest --upgrade
  - pip install pytest-cov --upgrade
  - pip install codecov
  - pip install -r requirements.txt
# command to run tests
script:
  - py.test  --cov=./
after_success:
  - codecov