name: Python CI

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [master]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [windows-latest, macos-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          pip install pytest pytest-cov parameterized mock flake8
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          # Statical analysis
          flake8 configcatclient --count --show-source --statistics

      - name: Test
        run: pytest configcatclienttests

  coverage:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip 
          pip install pytest pytest-cov parameterized mock flake8
          pip install -r requirements.txt

      - name: Lint with flake8
        run: |
          # Statical analysis
          flake8 configcatclient --count --show-source --statistics

      - name: Run coverage
        run: pytest --cov=configcatclient configcatclienttests

      - name: Upload coverage report
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
